@import url('https://fonts.googleapis.com/css?family=Roboto+slab:wght@500&display=swap');

:root{
    --yallow-them-background-color :#1d1d1d;
    --yallow-them-main-color : #ffdd40;
    --yallow-them-sub-text-color : #ffffff;
    --yallow-them-nav-background-color : #181818;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html{
    font-size: 62.5%;
    height: 100%;
}

body{
    background: var(--yallow-them-background-color);
    height: 100%;
}

:root{
    height: 100%;
}